*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: Raleway, sans-serif; }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bounceArrow {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2rem);
    color: #FF8517; }
  100% {
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveMe {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  40% {
    transform: translateX(0);
    opacity: 1; }
  80% {
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.container {
  background-color: #faf9f9; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    animation: moveInDown 2s ease-out;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 75em) {
      .heading-primary--main {
        font-size: 4rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading-primary--main {
        font-size: 4rem;
        letter-spacing: 1.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 2.5rem;
        letter-spacing: 1.1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 2s ease-out; }
    @media only screen and (max-width: 75em) {
      .heading-primary--sub {
        font-size: 1.6rem;
        letter-spacing: 1.5rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading-primary--sub {
        font-size: 1.4rem;
        letter-spacing: 1.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.2rem;
        letter-spacing: 1.1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  background-image: linear-gradient(to right, #FF456B, #FB8022);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s ease-in;
  animation: moveMe 4.3s ease-out;
  margin-top: 7rem;
  display: inline-block; }
  .heading-secondary:hover {
    letter-spacing: 1rem;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      margin-top: 4rem; } }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1.01rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 28.125em) {
    .heading-tertiary {
      font-size: 1.2rem; } }

.heading-technologies {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  color: #000; }
  @media only screen and (max-width: 37.5em) {
    .heading-technologies {
      font-size: 2.5rem;
      letter-spacing: 1.2rem; } }
  @media only screen and (max-width: 28.125em) {
    .heading-technologies {
      font-size: 2rem;
      letter-spacing: 1rem; } }

.fade-2 {
  border-width: 0 0 1px;
  border-image: linear-gradient(90deg, rgba(0, 186, 183, 0), #00bab7 50%, rgba(0, 186, 183, 0) 100%) 0 0 100%;
  border-style: solid; }

.heading-education {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.fade-3 {
  border-width: 0 0 1px;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), white 50%, rgba(255, 255, 255, 0) 100%) 0 0 100%;
  border-style: solid; }

.fancy {
  line-height: 1rem; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1.5rem;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  width: 100%; }

.fancy span:before {
  right: 100%;
  margin-right: 1.5rem; }

.fancy span:after {
  left: 100%;
  margin-left: 1.5rem; }

.heading-projects {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5rem; }

.project__footer {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin: 10rem 15rem; }

.heading__contact {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 8rem; }
  .heading__contact--me {
    background-image: linear-gradient(to right, #CB356B, #FB8022);
    -webkit-background-clip: text;
    color: transparent; }

.contact__paragraph {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 8rem;
  padding: 0 20rem; }

.contact__details {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 8rem;
  margin-bottom: 5rem; }

.footer {
  text-align: center; }
  .footer__legal {
    color: #fff;
    font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-large {
  margin-bottom: 12rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  line-height: .8;
  position: absolute; }

.btn--arrow {
  color: #fff;
  font-size: 7rem;
  animation: moveInTop 2s ease-out ,bounceArrow 1s infinite ease-out 2s;
  margin-top: 15rem;
  outline: none; }
  @media only screen and (max-width: 75em) {
    .btn--arrow {
      font-size: 6rem; } }

.contact__button {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 500;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  transition: .25s all ease-out;
  border-color: #fff;
  color: #fff; }
  .contact__button:hover {
    color: #004e92;
    background-color: #fff; }

.description {
  background-color: #fff;
  color: inherit;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  margin: 7rem auto;
  padding: 4rem;
  box-shadow: 1.5rem 2.5rem 3.5rem 0.7rem rgba(0, 0, 0, 0.13);
  transition: transform .4s, width .3s, background-color .3s, color .3s;
  backface-visibility: hidden; }
  @media only screen and (max-width: 75em) {
    .description {
      margin: 5rem auto;
      width: 70%; } }
  @media only screen and (max-width: 28.125em) {
    .description {
      margin: 5rem auto;
      width: 80%; } }
  .description:hover {
    transform: translateY(-1.3rem) scale(1.03);
    box-shadow: 1rem 2rem 3rem 0.7rem rgba(0, 0, 0, 0.2);
    color: #FF456B;
    background-color: #fff; }

.detail__box {
  padding: 10rem;
  color: #fff;
  box-shadow: 0.3rem 0.6rem 1rem rgba(0, 0, 0, 0.4);
  transition: transform .3s;
  background-image: linear-gradient(to right bottom, rgba(0, 186, 183, 0.8), rgba(255, 255, 255, 0.1)), url(../img/skill-2.jpeg);
  background-position: top;
  background-size: cover;
  text-align: center; }
  @media only screen and (max-width: 28.125em) {
    .detail__box {
      margin: 5rem 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .detail__box {
      margin: 5rem 10rem; } }
  @media only screen and (max-width: 75em) {
    .detail__box {
      padding: 8rem; } }
  @media only screen and (max-width: 25em) {
    .detail__box {
      margin: 5rem 0; } }
  .detail__box:hover {
    transform: translateY(-1.1rem) scale(1.03); }

.detail__footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.skills {
  margin-bottom: 5rem; }
  .skills__items {
    display: flex; }
  .skills__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    margin: 15rem 5rem; }
    @media only screen and (max-width: 65em) {
      .skills__box {
        margin: 7rem; } }
    .skills__box:hover {
      transform: translateY(-1.04rem) scale(1.1); }
  .skills__icon {
    width: 15rem;
    height: 15rem; }
  .skills__heading {
    font-size: 1.7rem;
    color: #000;
    margin: .6rem 0; }
  .skills__description {
    color: #000;
    font-size: 1.4rem; }

.header {
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(203, 53, 107, 0.3), rgba(189, 63, 50, 0.3)), url(../img/background-2.jpeg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 120% 50vh, 50% 100%, 0 70%);
  position: relative;
  background-color: #faf9f9;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__logo {
    height: 15rem; }
    @media only screen and (max-width: 68.75em) {
      .header__logo {
        height: 13rem; } }
    @media only screen and (max-width: 43.75em) {
      .header__logo {
        height: 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        height: 8rem; } }
  .header__text-box {
    margin-bottom: 20rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }

.detail {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      flex-direction: column; } }

.skills {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .skills__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.education {
  padding-bottom: 15rem; }
  .education__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .education__items {
        flex-direction: column; } }
  .education__box {
    text-align: center;
    color: #fff;
    padding: 0 5rem;
    margin: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .education__box {
        margin: 5rem; } }
    .education__box--2 {
      background-color: rgba(28, 28, 36, 0.8);
      flex: 1; }
    .education__box--3 {
      background-color: rgba(28, 28, 36, 0.8);
      flex: 1; }
    .education__box--4 {
      background-color: rgba(28, 28, 36, 0.8);
      flex: 1; }
  .education__title {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .education__description {
    font-size: 1.6rem; }
  .education__paragraph {
    font-size: 2rem;
    color: #737595;
    text-align: center;
    padding: 10rem 10rem; }
    @media only screen and (max-width: 68.75em) {
      .education__paragraph {
        font-size: 1.6rem;
        padding: 0 4rem;
        margin-top: 5rem;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 28.125em) {
      .education__paragraph {
        margin: 5rem auto;
        width: 70%; } }

.project {
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .project {
      flex-direction: column; } }
  .project__item {
    margin: 5rem;
    background-color: #fff;
    padding-bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transition: box-shadow .2s, transform .3s;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .project__item {
        margin: 5rem 20rem; } }
    @media only screen and (max-width: 43.75em) {
      .project__item {
        margin: 5rem 10rem;
        height: 60%; } }
    @media only screen and (max-width: 28.125em) {
      .project__item {
        margin: 5rem; } }
    .project__item:hover {
      box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.3);
      transform: translateY(-1.2rem) scale(1.03); }
      .project__item:hover .project__content .project__content--overlay {
        opacity: 1; }
      .project__item:hover .project__content .project__content--details {
        top: 50%;
        left: 50%;
        opacity: 1; }
  .project__container {
    height: 60%;
    padding: 1.2rem; }
  .project__content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .project__content .project__content--overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s; }
  .project__content--details {
    position: absolute;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s; }
  .project__content--title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: .5rem;
    margin-bottom: .5rem;
    text-transform: uppercase; }
  .project__content--text {
    color: #fff;
    font-size: 1.4rem; }
  .project__content--image {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px; }
  .project .fadeIn-bottom {
    top: 80%; }
  .project .fadeIn-top {
    top: 20%; }
  .project .fadeIn-left {
    left: 20%; }
  .project .fadeIn-right {
    left: 80%; }
  .project__description {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;
    margin-bottom: 3rem; }
  .project__description--heading {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem; }

.contact__items {
  display: flex;
  justify-content: center; }
  .contact__items--box {
    position: relative;
    margin: 3rem;
    backface-visibility: hidden; }
  .contact__items--icon {
    height: 6rem;
    width: 6rem;
    fill: #fff;
    transition: all .3s;
    border-radius: 5px; }
    .contact__items--icon--github {
      border-radius: 100px; }
    .contact__items--icon:hover {
      fill: #CB356B;
      transform: translateY(-1.1rem) scale(1.03);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .contact__items--icon:active {
      transform: translateY(-0.5rem) scale(1.03);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__logobox {
    width: 10rem; }
    .footer__logobox--img {
      height: 10rem;
      width: 10rem; }

.section-education {
  background-color: #1c1c24;
  overflow: hidden; }

.section-projects {
  padding: 5rem 0 20rem 0;
  background: linear-gradient(to right, #CB356B, #BD3F32);
  overflow: hidden; }

.section-contact {
  background: linear-gradient(to right, #1c1c24, #004e92);
  overflow: hidden;
  padding: 7rem 0 20rem 0;
  text-align: center; }

.footer {
  background-color: #1e272e; }
