*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: Raleway, sans-serif; }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bounceArrow {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2rem);
    color: #FF8517; }
  100% {
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveMe {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  40% {
    transform: translateX(0);
    opacity: 1; }
  80% {
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.container {
  background-color: #faf9f9; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    animation: moveInDown 2s ease-out;
    margin-bottom: 1rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 2s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  background-image: linear-gradient(to right, #FF456B, #FB8022);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s ease-in;
  animation: moveMe 4.3s ease-out;
  margin-top: 7rem;
  display: inline-block; }
  .heading-secondary:hover {
    letter-spacing: 1rem;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1.01rem;
  text-transform: uppercase; }

.heading-technologies {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  color: #000;
  transition: color .3s; }
  .heading-technologies:hover {
    color: #3d5afe; }

.fade-2 {
  border-width: 0 0 1px;
  border-image: linear-gradient(90deg, rgba(0, 186, 183, 0), #00bab7 50%, rgba(0, 186, 183, 0) 100%) 0 0 100%;
  border-style: solid; }

.heading-education {
  font-size: 4.5rem;
  font-weight: 300;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #fff;
  padding: 4rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.fade-3 {
  border-width: 0 0 1px;
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), white 50%, rgba(255, 255, 255, 0) 100%) 0 0 100%;
  border-style: solid; }

.fancy {
  line-height: 1rem; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1.5rem;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 100%; }

.fancy span:before {
  right: 100%;
  margin-right: 1.5rem; }

.fancy span:after {
  left: 100%;
  margin-left: 1.5rem; }

.heading-projects {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-large {
  margin-bottom: 12rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  line-height: .8;
  position: absolute; }

.btn--arrow {
  color: #fff;
  font-size: 7rem;
  animation: moveInTop 2s ease-out ,bounceArrow 1s infinite ease-out 2s;
  margin-top: 15rem;
  outline: none; }

.description {
  background-color: #fff;
  color: inherit;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  margin: 7rem auto;
  padding: 4rem;
  box-shadow: 1.5rem 2.5rem 3.5rem 0.7rem rgba(0, 0, 0, 0.13);
  transition: transform .4s, width .3s, background-color .3s, color .3s;
  backface-visibility: hidden; }
  .description:hover {
    transform: translateY(-1.3rem) scale(1.03);
    box-shadow: 1rem 2rem 3rem 0.7rem rgba(0, 0, 0, 0.2);
    color: #FF456B;
    background-color: #fff; }

.detail {
  margin-top: 10rem; }
  .detail__box {
    font-size: 1rem;
    font-weight: 400;
    padding: 10rem 10rem;
    color: #fff;
    box-shadow: 0.3rem 0.6rem 1rem rgba(0, 0, 0, 0.4);
    transition: transform .3s;
    background-image: linear-gradient(to right bottom, rgba(0, 186, 183, 0.8), rgba(255, 255, 255, 0.1)), url(../img/skill-2.jpeg);
    background-position: top;
    background-size: cover; }
    .detail__box:hover {
      transform: translateY(-1.1rem) scale(1.03); }
  .detail__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.skills {
  margin-bottom: 5rem; }
  .skills__box {
    margin: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .3s; }
    .skills__box:hover {
      transform: translateY(-1.04rem) scale(1.1); }
  .skills__icon {
    width: 12.8rem;
    height: 12.8rem; }
  .skills__heading {
    font-size: 1.5rem;
    color: #000; }
  .skills__description {
    color: #000;
    font-size: 1rem; }

.header {
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(203, 53, 107, 0.3), rgba(189, 63, 50, 0.3)), url(../img/background-2.jpeg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 120% 50vh, 50% 100%, 0 70%);
  position: relative;
  background-color: #faf9f9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__logo {
    height: 15rem; }
  .header__text-box {
    margin-bottom: 20rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }

.detail {
  display: flex;
  justify-content: space-around; }

.skills {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .skills__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.education {
  padding-bottom: 15rem;
  overflow: hidden; }
  .education__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem; }
  .education__box {
    padding: 3rem;
    text-align: center;
    flex: 1;
    margin: 1rem;
    transition: transform .3s;
    backface-visibility: hidden;
    margin-bottom: 10rem; }
    .education__box:hover {
      transform: translateY(-1.5rem) scale(1.03);
      z-index: 10; }
    .education__box--1 {
      background-color: rgba(255, 255, 255, 0.8); }
    .education__box--2 {
      background-color: rgba(255, 255, 255, 0.8); }
    .education__box--3 {
      background-color: rgba(255, 255, 255, 0.8); }
    .education__box--4 {
      background-color: rgba(255, 255, 255, 0.8); }
  .education__title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase; }
  .education__description {
    font-size: 1.3rem; }
  .education__paragraph {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 4rem; }

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .project__container {
    width: 50%; }
    .project__container:last-child {
      margin-top: 10rem; }
  .project__content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
    margin-bottom: 3rem;
    margin-top: 5rem; }
  .project__content .project__content--overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s; }
  .project__content:hover .project__content--overlay {
    opacity: 1; }
  .project__content--details {
    position: absolute;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s; }
  .project__content:hover .project__content--details {
    top: 50%;
    left: 50%;
    opacity: 1; }
  .project__content--title {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5rem;
    margin-bottom: .5rem;
    text-transform: uppercase; }
  .project__content--text {
    color: #fff;
    font-size: 1.5rem; }
  .project__content--image {
    background-size: cover;
    width: 100%;
    height: 100%; }
  .project .fadeIn-bottom {
    top: 80%; }
  .project .fadeIn-top {
    top: 20%; }
  .project__description {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 6rem; }

.section-education {
  background: linear-gradient(to right, #000428, #004e92);
  overflow: hidden; }

.section-projects {
  padding: 5rem 0 20rem 0;
  background: linear-gradient(to right, #CB356B, #BD3F32);
  overflow: hidden; }
