
//COLORS:

$color-primary: #0DE7F9;
$color-primary-dark:#00BAB7;

$color-grey-light-1: #f7f7f7;

$color-arrow: #59FF00;

$color-grey-dark: #777;
$color-grey-light-1: #faf9f9;
$color-white:#fff;
$color-black: #000;

// Border
$line: 1px solid var(--color-grey-light-2);

// shadows
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);