
.education {
  padding-bottom: 15rem;

  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    @media only screen and (max-width:$bp-small) {
      flex-direction: column;
    }
  }

  &__box {
    text-align: center;
    color: $color-white;
    padding: 5rem;
    margin: 2rem;

    &--2 {
      background-color: rgba($color-primary-education,.8);
      flex: 1;
    }
    &--3 {
      background-color: rgba($color-primary-education,.8);
      flex: 1;
    }
    &--4 {
      background-color: rgba($color-primary-education,.8);
      flex: 1;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;

  }  

  &__description {
    font-size: 1.6rem;
  }
  &__paragraph {
    font-size: 2rem;
    color: $color-grey-dark-2;
    text-align: center;
    padding: 10rem 10rem;

    @media only screen and (max-width:$bp-large) {
      font-size: 1.6rem;
      padding: 0 4rem;
      margin-top: 5rem;
    }

    @media only screen and (max-width:$bp-small) {
      padding: 0 5rem;
    }
  }
}