
.education {
  padding-bottom: 15rem;
  overflow: hidden;
  &__items {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  &__box {
    padding:3rem;
    text-align: center;
    flex:1;
    margin:1rem;
    transition: transform .3s;
    backface-visibility: hidden;
    margin-bottom: 10rem;


    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
      z-index: 10;
    }

    &--1 {
      background-color: rgba($color-white,.8);
    }
    &--2 {
      background-color: rgba($color-white,.8);
    }
    &--3 {
      background-color: rgba($color-white,.8);
    }
    &--4 {
      background-color: rgba($color-white,.8);
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }  

  &__description {
    font-size: 1.3rem;
  }
  &__paragraph {
    font-size: 2rem;
    color: $color-white;
    text-align: center;
    margin-bottom: 4rem;
  }
}