.footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  &__legal {
    
  }
  &__logobox {
    width: 10rem;


    &--img {
      height: 10rem;
      width: 10rem;
    }
  }
}