.header {
  height: 80vh;
  background-image:linear-gradient(
  to right bottom,
  rgba($color-primary-projects, .5),
  rgba($color-secondary-projects,.5)),
  url(../img/background-2.jpeg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 120% 50vh, 50% 100%, 0 70%);
  
  position: relative;
  background-color: $color-grey-light-1;

    display: flex;
    justify-content: center;
    align-items: center;

  &__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  &__logo {
    height:15rem;
  }
  
  &__text-box {
    margin-bottom: 20rem;
    text-align: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}