.header {
  height: 80vh;
  background-image:linear-gradient(
  to right bottom,
  rgba($color-primary-projects, .3),
  rgba($color-secondary-projects,.3)),
  url(../img/background-2.jpeg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 120% 50vh, 50% 100%, 0 70%);
  
  position: relative;
  background-color: $color-grey-light-1;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width:$bp-heading-technology) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

  &__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  &__logo {
    height:15rem;

    @media only screen and (max-width: $bp-large) {
      height: 13rem;
    }
    @media only screen and (max-width:$bp-projects) {
      height: 10rem;
    }
    @media only screen and (max-width:$bp-heading-technology) {
      height: 8rem;
    }
  }
  
  &__text-box {
    margin-bottom: 20rem;
    text-align: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}