.header {
  height: 95vh;
   background-image:linear-gradient(
    to right bottom,
   rgba($color-primary, .5),
   rgba($color-primary-dark,.5)),
  url(../img/background-2.jpeg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 50% 80%, 0 50%);
  position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height:3.5rem;
  }
  
  &__text-box {
    margin-bottom: 20rem;
    text-align: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}