.btn {
  &:link,
  &:visited {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  line-height: .8;
  position: absolute;
}
&--arrow {
  color:$color-white;
  font-size: 7rem;
  animation: moveInTop 2s ease-out ,bounceArrow 1s infinite ease-out 2s;
  margin-top: 15rem;
  outline: none;
 }
}

.contact__button {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: $shadow-light;
    transition: .25s all ease-out;
    border-color: $color-white;
    color: $color-white;

    &:hover {
      color: $color-secondary-education;
      background-color: $color-white;
    }
}
