// About Me Section -- Description
.description {
  background-color: $color-white;
  color:inherit;
  font-size: 1.5rem;
  text-align: center;
  width:50%;
  margin: 7rem auto;
  padding: 4rem;
  box-shadow: 1.5rem 2.5rem 3.5rem 0.7rem rgba($color-black,.13);
  transition: transform .4s, width .3s, background-color .3s, color .3s;
  backface-visibility: hidden;

  @media only screen and (max-width:$bp-largest) {
    margin: 5rem auto;
    width:70%;
  }
  @media only screen and (max-width:$bp-smallest) {
    margin: 5rem auto;
    width: 80%;
  }
  

  &:hover {
    transform: translateY(-1.3rem) scale(1.03);
    box-shadow: 1rem 2rem 3rem 0.7rem rgba($color-black,.2);
    color:$color-secondary-about;
    background-color: $color-white;
  }
}