.skills {

&__title {
}

&__items {

}
&__box {
  padding:8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

&__icon {
  width:12.8rem;
  height:12.8rem;
}
&__heading {

}
&__description {

}


}