.skills {
  margin-bottom: 5rem;
  
&__title {
}

&__items {
  display: flex;
}
&__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .3s;
  margin: 15rem 5rem;

  &:hover {
    transform: translateY(-1.04rem) scale(1.1);
  }
}

&__icon {
  width:15rem;
  height:15rem;
}
&__heading {
  font-size: 1.7rem;
  color:$color-black;
  margin: .6rem 0;
}
&__description {
  color:$color-black;
  font-size: 1.4rem
  }
}