body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color:$color-grey-dark;
}
.container {
  background-color: $color-grey-light-1;
}
.heading-primary {
  color:$color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display:block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    animation: moveInDown 2s ease-out;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-largest) {
      font-size: 4rem;
    }
    @media only screen and (max-width:$bp-projects) {
      font-size: 4rem;
      letter-spacing: 1.3rem;
    }
    @media only screen and (max-width:$bp-heading-technology) {
      font-size: 2.5rem;
      letter-spacing: 1.1rem;
    }
  }
  &--sub {
    display:block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 2s ease-out;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.6rem;
      letter-spacing: 1.5rem;
    }
    @media only screen and (max-width:$bp-projects) {
      font-size: 1.4rem;
      letter-spacing: 1.4rem;
    }
    @media only screen and (max-width:$bp-heading-technology) {
      font-size: 1.2rem;
      letter-spacing: 1.1rem;
    }
  }
}
/////////////////////////
// SECTION ABOUT ME

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  background-image: linear-gradient(to right,$color-secondary-about,$color-primary-about);
  // display: inline-block;
  -webkit-background-clip: text;
  color:transparent;
  letter-spacing: 2px;
  transition: all .2s ease-in;
  animation: moveMe 4.3s ease-out;
  margin-top: 7rem;
  display: inline-block;

  &:hover {
    letter-spacing:1rem;
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }

  @media only screen and (max-width: $bp-largest) {
    margin-top: 4rem;
  }
}
.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1.01rem;
  text-transform: uppercase;

  @media only screen and (max-width:$bp-smallest) {
    font-size: 1.2rem;
  }
}
.heading-technologies {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  color: $color-black;

  @media only screen and (max-width:$bp-heading-technology) {
    font-size: 2.5rem;
    letter-spacing: 1.2rem;
  }

  @media only screen and (max-width:$bp-smallest) {
   font-size: 2rem;
   letter-spacing: 1rem;
  }
}
.fade-2 {
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    rgba($color-primary-dark, 0),
    rgba($color-primary-dark, 1) 50%,
    rgba($color-primary-dark, 0) 100%) 0 0 100%;
    border-style: solid;
}
////////////////////////////////
// SECTION EDUCATION

.heading-education {
 font-size: 4rem;
 font-weight: 400;
 letter-spacing: 1.5rem;
 text-transform: uppercase;
 color: $color-white;
 padding: 10rem;
 display:flex;
 align-items: center;
 justify-content: center;

 @media only screen and (max-width:$bp-smallest) {
  font-size: 2.5rem;
  letter-spacing: 1.3rem;
 }
}

.fade-3 {
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    rgba($color-white, 0),
    rgba($color-white, 1) 50%,
    rgba($color-white, 0) 100%) 0 0 100%;
    border-style: solid;
}

.fancy {
  line-height: 1rem;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 1.5rem;
  border-bottom: 1px solid $color-black;
  border-top: 1px solid $color-black;
  width: 100%;
}
.fancy span:before {
  right: 100%;
  margin-right: 1.5rem;
}
.fancy span:after {
  left: 100%;
  margin-left: 1.5rem;
}

////////////////////////////////
// PROJECTS SECTION

.heading-projects {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 5rem;
}

.project__footer {
  font-size: 1.6rem;
  color: $color-white;
  text-align: center;
  margin: 10rem 15rem;

  @media only screen and (max-width:$bp-smallest) {
    margin: 7rem;
  }
  @media only screen and (max-width:$bp-xs) {
    margin: 5rem;
    padding: 0 3rem;
  }
  @media only screen and (max-width:$bp-300) {
    margin: 3rem;
    padding: 0 1rem;
  }
}

//////////////////////////////
// Section Contact

.heading__contact {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 8rem;

  &--me {
    background-image: linear-gradient(to right, $color-primary-projects, $color-primary-about);
    -webkit-background-clip: text;
    color:transparent;
  }
}
.contact__paragraph {
text-align: center;
font-size: 1.6rem;
color: $color-white;
margin-bottom: 8rem;
padding: 0 20rem;

@media only screen and (max-width:$bp-smallest) {
  padding: 0 8rem;
}
@media only screen and (max-width:$bp-xs) {
 padding: 0 3rem;
}
}

.contact__details {
  font-size: 1.4rem;
  color: $color-white;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

///////////////////////////////
// Footer Section
.footer {
  text-align: center;
  &__legal {
    color: $color-white;
    font-size: 1.6rem;
  }
}