.section-about {
  
}
.section-education {
  background: linear-gradient(to right, $color-primary-education, $color-secondary-education);
  overflow: hidden;
}
.section-projects {
  padding: 5rem 0 20rem 0;
  background: linear-gradient(to right, $color-primary-projects, $color-secondary-projects);
  overflow: hidden;
}