.section-about {

}
.section-education {
  background-color: $color-primary-education;
  overflow: hidden;
}
.section-projects {
  padding: 5rem 0 5rem 0;
  background: linear-gradient(to right, $color-primary-projects, $color-secondary-projects);
  overflow: hidden;
}
.section-contact {
  background: linear-gradient(to right, $color-primary-education, $color-secondary-education);
  overflow: hidden;
  padding: 5rem 0 5rem 0;
  text-align: center;
}
.footer {
  background-color: #1e272e;
}